absl-py
accelerate
aiohttp
aiosignal
annotated-types
anthropic
anyio
async-timeout
attrs
bitsandbytes
blessed
certifi
charset-normalizer
click
cmake
contourpy
croissant
cycler
datasets
decorator
dill
distro
docstring-parser
einops
etils
exceptiongroup
filelock
fire
fonttools
frozenlist
fsspec
gpustat
h11
h5py
httpcore
httpx
huggingface-hub
idna
importlib_resources
pip-install
isodate
Jinja2
joblib
jsonlines
jsonpath-rw
kiwisolver
langdetect
langid
lit
markdown-it-py
MarkupSafe
matplotlib
mdurl
mlcroissant
mpmath
multidict
multiprocess
networkx
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-ml-py
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai
packaging
pandas
pandas-stubs
peft
Pillow
ply
polyglot
psutil
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
PyYAML
rdflib
regex
requests
rich
safetensors
scikit-learn
scipy
sentencepiece
shtab
six
sniffio
sympy
tenacity
termcolor
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
transformers-stream-generator
triton
trl
types-pytz
typing_extensions
tyro
tzdata
urllib3
wcwidth
xxhash
yarl
zipp
